
.signup-button {
    color: black;
    white-space: nowrap;
  }

  .adminPanel-button {
    color: white;
    white-space: nowrap;
  }

header {
  background-color: white;
  
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav .left-links,
nav .right-links,
nav .middle-links {
  display: flex;
}

nav .left-links {
  justify-content: flex-start;
}

nav .right-links {
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5em 1em;
}

nav .signup-button {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 0px;
  transition: transform 0.3s ease;
}

nav .signup-button:hover {
  transform: scale(1.1); 
}


nav .login-button:hover {
  transform: scale(1.1); 
}

.divider {
width: 100%;
height: 1px;
background-color: black;
margin-top: 5px; /* Adjust as needed */
}

.login-button, .signup-button {
width: 120px; /* Adjust as needed */
height: 35px; /* Adjust as needed */
padding: 0;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px; /* Adjust as needed */
font-size: 14px; /* Adjust as needed */
}
  

.navbar-container {
  background-color: #422e37;
}

.login-button{
  
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 0px;
  transition: transform 0.3s ease;
} 


img {
  margin-left: 20px; /* Adjust as needed */

  width: 120px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.middle-links {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.left-links a {
  color: #ffffff;
}

.left-links {
  display: flex;
  align-items: center;
}

