* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.admin-panel-container {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    padding-top: 60px;
    min-height: calc(100vh - 60px);
}

.admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.admin-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.admin-sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #533747;
  font-size: 2em;
  margin-bottom: 4%;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.section h2, .section p, .more-options {
    color: #000;
}

.section:hover .more-options {
    color: #555;
}

.section, .section:hover, .section:visited, .section:active {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    .admin-container {
        width: 95%;
        padding: 10px;
    }

    .admin-sections {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .section h2 {
        font-size: 1.2em;
    }

    .section p {
        font-size: 0.9em;
    }
}
