.account-container {
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
  }

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab {
    background-color: #917c81;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .tab:hover {
    background-color: #a58d93;
  }

  .horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 20px;
  }

  .appointment-card {
    width: 250px;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #533747; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .appointment-card-body {
    padding: 15px;
  }
  
  .appointment-card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .appointment-card-detail {
    font-size: 0.9rem; 
    margin-bottom: 15px;
  }
  
  .view-detail-button {
    border: none;
    background-color: #557A95; 
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    position: absolute; 
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .view-detail-button:hover {
    background-color: #6A8DAD;
  }

  .scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 20px 0;
    gap: 20px; 
}